name: Build HQ for Windows

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Install Meson
      run: |
        choco install python --version 3.10.0 -y
        python -m pip install meson
        
    - name: Install CMake
      run: |
        choco install cmake -y
        
    - name: Install Visual Studio Build Tools
      run: |
        choco install visualstudio2019buildtools -y
        choco install visualstudio2019-workload-vctools -y
        
    - name: Install Modest
      run: |
        choco install -y strawberryperl
        refreshenv
        choco install -y nasm
        refreshenv

        git clone https://github.com/lexborisov/Modest.git
        cd Modest
        cmake -S . -B build -G "Visual Studio 17 2022" -A x64 -DCMAKE_USE_PTHREADS_INIT=TRUE
        cmake --build build --config Release --target install
        cd ..
        
    - name: Install Ninja
      run: |
        choco install ninja -y
        
    - name: Build HQ
      run: |
        meson build
        ninja -C build
